:root {
  /* Colors: */
  --info-color-prerelease: #EBA13E;
  --info-color-event: #C82033;
  --info-color-notice: #55A5FF;
  --info-color-campaign: #17A599;
  --text-color: #000000;
  --white: #FFFFFF;
  --sub-color-2: #E9EAF4;
  --sub-color: #F15A24;
  --main-color: #293499;
  /* Font/text values */
  --font-family-source-han-sans-jp: Source Han Sans JP;
  --font-style-normal: normal;
  --font-weight-medium: medium;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-30: 30px;
  --font-size-40: 40px;
  --character-spacing-0: 0px;
  --character-spacing-2: 2px;
  --character-spacing-3: 3px;
  --character-spacing-4: 4px;
  --character-spacing-1-4: 1.4px;
  --character-spacing-1-6: 1.6px;
  --character-spacing-1-8: 1.8px;
  --line-spacing-20: 20px;
  --line-spacing-24: 24px;
  --line-spacing-28: 28px;
  --line-spacing-32: 32px;
  --line-spacing-35: 35px;
  --line-spacing-36: 36px;
  --line-spacing-40: 40px;
  --line-spacing-44: 44px;
  --line-spacing-58: 58px;
}

/* Character Styles */
.section-title-medium {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-40);
  line-height: var(--line-spacing-58);
  letter-spacing: var(--character-spacing-4);
  color: var(--main-color);
}

.catchcopy-medium {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-24);
  line-height: var(--line-spacing-35);
  letter-spacing: var(--character-spacing-0);
  color: var(--text-color);
}

.pc-font-size-xl-bold {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-30);
  line-height: var(--line-spacing-40);
  letter-spacing: var(--character-spacing-3);
  color: var(--text-color);
}

.pc-font-size-sm-bold {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  color: var(--white);
}

.pc-font-size-xs-bold-sitemap-title {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-28);
  letter-spacing: var(--character-spacing-1-4);
  color: var(--text-color);
}

.pc-font-size-xl-medium {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-30);
  line-height: var(--line-spacing-44);
  letter-spacing: var(--character-spacing-3);
  color: var(--text-color);
}

.pc-font-size-lg-medium {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-20);
  line-height: var(--line-spacing-40);
  letter-spacing: var(--character-spacing-2);
  color: var(--text-color);
}

.pc-font-size-md-medium {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
  line-height: var(--line-spacing-36);
  letter-spacing: var(--character-spacing-0);
  color: var(--text-color);
}

.pc-font-size-sm-medium {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-32);
  letter-spacing: var(--character-spacing-1-6);
  color: var(--text-color);
}

.pc-font-size-xs-medium {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-20);
  letter-spacing: var(--character-spacing-0);
  color: var(--text-color);
}

.pc-font-size-lg-normal {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-20);
  line-height: var(--line-spacing-40);
  letter-spacing: var(--character-spacing-2);
  color: var(--text-color);
}

.pc-font-size-sm-normal {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-32);
  letter-spacing: var(--character-spacing-0);
  color: var(--text-color);
}

.pc-font-size-xs-normal {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-32);
  letter-spacing: var(--character-spacing-0);
  color: var(--text-color);
}

.pc-font-size-xs-normal-sitemap {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-28);
  letter-spacing: var(--character-spacing-0);
  color: var(--text-color);
}

.pc-font-size-xs-normal-footer {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-20);
  letter-spacing: var(--character-spacing-0);
  color: var(--white);
}

.pc-font-size-xs-normal-info-date {
  font-family: var(--font-family-source-han-sans-jp);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-28);
  letter-spacing: var(--character-spacing-1-4);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: --font-family-source-han-sans-jp, sans-serif;
}

section {
  padding: 120px 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

.link-underline {
  border: none;
}
.link-underline:hover {
  border-bottom: 1px solid var(--text-color);
}

.section-padding-bottom-reset {
  padding: 120px 0 0;
}

.section-call-to-action-style {
  padding: 72px 0;
}

.section-site-map-style {
  padding: 32px 0;
}

.section-footer-style {
  padding: 32px 0;
}

.section-title-layout {
  margin: 0 auto 64px;
  text-align: center;
}

.upper-text {
  text-transform: uppercase;
}

.btn-default {
  border: 1px solid var(--text-color);
}
.btn-default::after {
  content: "";
  background-image: url(../img/arrow.png);
  display: inline-block;
  background-size: cover;
}
.btn-default:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: var(--white);
}
.btn-default:hover::after {
  background-image: url(../img/arrow-white.png);
}

.info-category-default-layout {
  width: 156px;
  padding: 4px 16px;
}

.tag-campaign {
  background-color: var(--info-color-campaign);
}

.tag-notice {
  background-color: var(--info-color-notice);
}

.tag-event {
  background-color: var(--info-color-event);
}

.tag-prerelease {
  background-color: var(--info-color-prerelease);
}

.dotted-bottom {
  background-image: linear-gradient(to right, var(--text-color) 3px, transparent 3px);
  background-size: 8px 1px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 10000;
}

.header-area {
  height: 70px;
  margin: 0 auto;
  border-bottom: 2px solid var(--sub-color-2);
}
.header-area .header-contents-area {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-area .header-contents-area .header-logo a {
  display: flex;
  height: 70px;
  align-items: center;
}
.header-area .header-contents-area .header-logo a img {
  height: 40px;
  text-align: center;
  margin: 15px auto;
}
.header-area .header-contents-area .header-nav-list,
.header-area .header-contents-area .header-nav-sub-list-newline {
  display: flex;
}
.header-area .header-contents-area .header-nav-list li {
  justify-content: space-between;
  margin: 0 0.5em;
}
.header-area .header-contents-area .header-nav-list > li:first-of-type {
  margin-left: 0;
}
.header-area .header-contents-area .header-nav-list > li:last-of-type {
  margin-right: 0;
}
.header-area .header-contents-area .header-nav-list .tel-text {
  font-size: var(--font-size-14);
  text-align: center;
}
.header-area .header-contents-area .header-nav-list .tel-number a {
  text-align: center;
  letter-spacing: var(--character-spacing-1-8);
  cursor: default;
  pointer-events: none;
}
.header-area .header-contents-area .header-nav-list .tel-number a::before {
  content: "";
  display: inline-block;
  background-image: url(../img/free-call-icon.svg);
  background-size: cover;
  width: 30px;
  height: 23.85px;
  margin-right: 8px;
  vertical-align: text-bottom;
}
.header-area .header-contents-area .header-nav-list .header-nav-sub-list .header-nav-sub-list-newline {
  justify-content: space-evenly;
  height: 30px;
}
.header-area .header-contents-area .header-nav-list .header-nav-sub-list .signin-btn {
  height: 34px;
}
.header-area .header-contents-area .header-nav-list .header-nav-sub-list .signin-btn a {
  display: block;
  height: 34px;
  background-color: var(--main-color);
  margin: 0 auto;
}
.header-area .header-contents-area .header-nav-list .header-nav-sub-list .signin-btn a p {
  text-align: center;
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  font-weight: var(--font-weight-medium);
  color: var(--white);
  vertical-align: bottom;
  padding: 5px 16px;
}
.header-area .header-contents-area .header-nav-list .header-nav-sub-list .signin-btn a p::before {
  content: "";
  display: inline-block;
  background-image: url(../img/signin-icon-white.png);
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  vertical-align: middle;
}
.header-area .header-contents-area .header-nav-list .header-nav-sub-list .signin-btn a:hover {
  background-color: var(--white);
  border: 3px solid var(--main-color);
}
.header-area .header-contents-area .header-nav-list .header-nav-sub-list .signin-btn a:hover p {
  color: var(--main-color);
  padding: 2px 0;
}
.header-area .header-contents-area .header-nav-list .header-nav-sub-list .signin-btn a:hover p::before {
  background-image: url(../img/signin-icon.png);
}
.header-area .header-contents-area .header-nav-list .trial-lesson-btn a {
  display: flex;
  height: 58px;
  background-color: var(--sub-color);
  color: var(--white);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  margin: 6px 0;
}
.header-area .header-contents-area .header-nav-list .trial-lesson-btn a:hover {
  background-color: var(--white);
  border: 3px solid var(--sub-color);
  color: var(--sub-color);
  padding: 5px 13px;
}

@media screen and (max-width: 1160px) {
  .header-area .header-contents-area {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.nav-menu-area {
  width: 100%;
  height: 50px;
}
.nav-menu-area .nav-menu-list {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.nav-menu-area .nav-menu-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.nav-menu-area .nav-menu-list li a {
  text-align: center;
}

.call-to-action-area {
  background-color: var(--sub-color-2);
}
.call-to-action-area .call-to-action-area-layout {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.call-to-action-area .call-to-action-area-layout .call-to-action-btn {
  margin: 48px auto;
}
.call-to-action-area .call-to-action-area-layout .call-to-action-btn a {
  display: inline-block;
  line-height: var(--line-spacing-44);
  color: var(--white);
  background-color: var(--sub-color);
  padding: 32px;
  text-align: center;
}
.call-to-action-area .call-to-action-area-layout .call-to-action-btn a:hover {
  background-color: var(--white);
  border: 3px solid var(--sub-color);
  color: var(--sub-color);
  padding: 29px;
}
.call-to-action-area .call-to-action-area-layout .tel-call-to-action-area .pc-font-size-sm-normal {
  line-height: var(--line-spacing-40);
  letter-spacing: var(--character-spacing-1-6);
}
.call-to-action-area .call-to-action-area-layout .tel-call-to-action-area .flex-pc-only {
  display: flex;
  justify-content: center;
}
.call-to-action-area .call-to-action-area-layout .tel-call-to-action-area .flex-pc-only .tel-text-call-to-action {
  margin-right: 24px;
}
.call-to-action-area .call-to-action-area-layout .tel-call-to-action-area .flex-pc-only .tel-number-call-to-action a {
  text-align: center;
  letter-spacing: var(--character-spacing-1-8);
  cursor: default;
  pointer-events: none;
}
.call-to-action-area .call-to-action-area-layout .tel-call-to-action-area .flex-pc-only .tel-number-call-to-action a::before {
  content: "";
  display: inline-block;
  background-image: url(../img/free-call-icon.svg);
  background-size: cover;
  width: 50px;
  height: 39.76px;
  margin-right: 8px;
  vertical-align: text-bottom;
}
.call-to-action-area .call-to-action-area-layout .tel-call-to-action-area .tel-info-call-to-action {
  margin-top: 16px;
}

.eye-catch-area {
  height: 450px;
  margin: 0;
  padding: 0;
}
.eye-catch-area img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 15%;
     object-position: 50% 15%;
}

.site-map-area-layout {
  max-width: 1280px;
  margin: 0 auto;
}
.site-map-area-layout .site-map-title-list li {
  margin: 24px 0;
}
.site-map-area-layout .site-map-title-list .site-map-sub-title-list li:last-of-type {
  margin-bottom: 0;
}
.site-map-area-layout .site-map-title-list .site-map-flex-pc-only {
  display: flex;
  justify-content: space-evenly;
}
.site-map-area-layout .site-map-title-list .arrow-icon-add-area {
  background-image: url(../img/arrow.png);
  transform: rotate(90deg);
  display: inline-block;
  background-size: cover;
  width: var(--font-size-14);
  height: var(--font-size-14);
  vertical-align: -10%;
  margin-left: 7px;
}

footer {
  background-color: var(--main-color);
}
footer .footer-menu {
  width: 860px;
  margin: 0 auto;
}
footer .footer-menu .footer-menu-list {
  display: flex;
  justify-content: space-between;
}
footer .footer-menu .footer-menu-list li a {
  color: white;
  text-align: center;
}
footer .footer-menu .footer-menu-list li a:hover {
  border-bottom-color: var(--white);
}
footer .copyright {
  text-align: center;
  padding-top: 32px;
}

.mv-area {
  max-width: 1160px;
  height: 500px;
  margin: 120px auto 0;
  position: relative;
}
.mv-area .mv-img-area img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 25%;
     object-position: 50% 25%;
}
.mv-area .mv-text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mv-area .mv-text-area .mv-text-background-area {
  min-width: 600px;
  height: 180px;
  background-color: var(--white);
  opacity: 0.75;
  margin: 0;
  padding: 0;
  position: relative;
}
.mv-area .mv-text-area .mv-catchcopy {
  min-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mv-area .mv-text-area .mv-catchcopy img {
  width: 98px;
  height: auto;
  margin: 32px auto 0;
  display: flex;
  justify-content: center;
}
.mv-area .mv-text-area .mv-catchcopy .catchcopy-text {
  margin: 21px auto 32px;
  display: flex;
  justify-content: center;
}

.popular-secret-area .popular-secret-area-layout {
  max-width: 760px;
  margin: 0 auto;
}
.popular-secret-area .popular-secret-area-layout .popular-secret-contents-area {
  display: flex;
  margin-bottom: 56px;
  max-width: 720px;
}
.popular-secret-area .popular-secret-area-layout .popular-secret-contents-area:last-child {
  margin-bottom: 0;
}
.popular-secret-area .popular-secret-area-layout .popular-secret-contents-area img {
  max-width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  align-items: center;
}
.popular-secret-area .popular-secret-area-layout .popular-secret-contents-area .popular-secret-text-area {
  min-height: 220px;
}
.popular-secret-area .popular-secret-area-layout .popular-secret-contents-area .popular-secret-text-area .popular-secret-contents-title {
  margin: 32px 40px 24px;
}
.popular-secret-area .popular-secret-area-layout .popular-secret-contents-area .popular-secret-text-area .popular-secret-contents-text {
  margin: 0 40px 32px;
}
.popular-secret-area .popular-secret-area-layout .popular-secret-contents-area:nth-child(odd) {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 960px) {
  .popular-secret-area .popular-secret-area-layout .popular-secret-contents-area {
    margin-left: 2.5%;
  }
  .popular-secret-area .popular-secret-area-layout .popular-secret-contents-area:nth-child(odd) {
    margin-right: 2.5%;
  }
}
.lesson-area {
  background-color: var(--main-color);
}
.lesson-area .section-title-medium,
.lesson-area .subheading-title-area > .pc-font-size-xl-medium {
  color: var(--white);
}
.lesson-area .sp-only-br {
  display: none;
}
.lesson-area .subheading-title-area {
  margin-top: 64px;
}
.lesson-area .subheading-title-layout {
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
}
.lesson-area .subheading-title-layout .border-bottom-line {
  display: block;
  margin: 8px auto 64px;
  border-bottom: 2px solid var(--white);
}
.lesson-area .lesson-contents-area {
  max-width: 960px;
  background-color: var(--white);
  margin: 48px auto;
  display: flex;
}
.lesson-area .lesson-contents-area .lesson-img {
  min-height: 264px;
}
.lesson-area .lesson-contents-area .lesson-img img {
  max-width: 360px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.lesson-area .lesson-contents-area .lesson-text {
  padding: 32px 40px;
  text-align: left;
}
.lesson-area .lesson-contents-area .lesson-text .lesson-contents-title {
  margin-bottom: 16px;
}
.lesson-area .lesson-contents-area .lesson-text .lesson-contents-text {
  margin-bottom: 48px;
}
.lesson-area .lesson-contents-area .lesson-text .lesson-detail-btn {
  display: flex;
  justify-content: end;
}
.lesson-area .lesson-contents-area .lesson-text .lesson-detail-btn a {
  padding: 12px 48px;
}
.lesson-area .lesson-contents-area .lesson-text .lesson-detail-btn a::after {
  width: var(--font-size-14);
  height: var(--font-size-14);
  vertical-align: -5%;
  margin-left: var(--font-size-14);
}
.lesson-area .lesson-search-btn-area {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}
.lesson-area .lesson-search-btn-area .lesson-search-btn {
  background-color: var(--white);
}
.lesson-area .lesson-search-btn-area .lesson-search-btn a {
  display: flex;
  width: 360px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-color: var(--white);
}
.lesson-area .lesson-search-btn-area .lesson-search-btn a::after {
  width: var(--font-size-20);
  height: var(--font-size-20);
  vertical-align: -10%;
  margin-left: var(--font-size-20);
}
.lesson-area .lesson-search-btn-area .lesson-search-btn a:hover {
  border: 3px solid var(--white);
}

@media screen and (max-width: 1160px) {
  .lesson-area .lesson-contents-area, .lesson-area .lesson-search-btn-area {
    width: 95%;
  }
}
@media screen and (max-width: 960px) {
  .lesson-area .sp-only-br {
    display: block;
  }
  .lesson-area .lesson-contents-area .lesson-img img {
    width: 37.5vw;
  }
  .lesson-area .lesson-contents-area .lesson-text .lesson-contents-text {
    margin-bottom: 32px;
  }
}
.two-column-layout {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.two-column-layout .section-title-layout {
  padding-top: 16px;
}

@media screen and (max-width: 1160px) {
  .two-column-layout {
    display: block;
  }
  .two-column-layout .section-title-layout {
    padding-top: 0;
  }
}
.school-search-area-layout {
  width: 560px;
  height: 660px;
  background-color: var(--sub-color-2);
  position: relative;
}
.school-search-area-layout::before {
  content: "";
  background-image: url(../img/japan-map.svg);
  width: 523px;
  height: 550px;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -40.8%);
}
.school-search-area-layout .school-search-btn-and-text-area {
  position: relative;
  z-index: 10;
}
.school-search-area-layout .school-search-btn-and-text-area .school-search-btn-area {
  width: 324px;
  margin-left: 24px;
}
.school-search-area-layout .school-search-btn-and-text-area .school-search-btn-area .school-search-btn-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.school-search-area-layout .school-search-btn-and-text-area .school-search-btn-area .school-search-btn-list li {
  margin-bottom: 24px;
}
.school-search-area-layout .school-search-btn-and-text-area .school-search-btn-area .school-search-btn-list .school-search-btn {
  display: flex;
  width: 150px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-color);
  background-color: var(--white);
}
.school-search-area-layout .school-search-btn-and-text-area .school-search-btn-area .school-search-btn-list .school-search-btn:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: var(--white);
}
.school-search-area-layout .school-search-btn-and-text-area .school-search-text {
  max-width: 290px;
  position: absolute;
  bottom: -250px;
  right: 32px;
  text-align: center;
}

@media screen and (max-width: 1160px) {
  .section-padding-bottom-reset {
    padding: 120px 0;
  }
  .school-search-area-layout {
    background-color: var(--white);
    width: 768px;
    margin: 0 auto;
  }
}
.two-column-layout-right-side {
  width: 560px;
}
.two-column-layout-right-side section:first-of-type {
  padding-bottom: 32px;
}
.two-column-layout-right-side section:last-of-type {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 1160px) {
  .two-column-layout-right-side {
    width: auto;
  }
  .two-column-layout-right-side section:first-of-type {
    padding-bottom: 120px;
    background-color: var(--sub-color-2);
  }
  .two-column-layout-right-side section:last-of-type {
    padding-top: 120px;
    margin: 0 auto;
  }
}
.teacher-profile {
  width: 100%;
  padding: 0 24px 32px;
  display: flex;
}
.teacher-profile .teacher-img {
  display: inline-table;
  margin-right: 32px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.teacher-profile .teacher-img img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -5%;
     object-position: -5%;
  display: inline-block;
  transform: scale(1.2);
}
.teacher-profile .teacher-introduce h4 {
  margin-bottom: 24px;
}
.teacher-profile .teacher-introduce .teacher-detail-btn {
  margin-top: 32px;
}
.teacher-profile .teacher-introduce .teacher-detail-btn a {
  display: inline-block;
  width: 320px;
  padding: 12px 0;
  text-align: center;
}
.teacher-profile .teacher-introduce .teacher-detail-btn a::after {
  width: var(--font-size-14);
  height: var(--font-size-14);
  vertical-align: -5%;
  margin-left: var(--font-size-14);
}

@media screen and (max-width: 1160px) {
  .introducing-the-teacher-area-layout {
    width: 768px;
    margin: 0 auto;
  }
  .teacher-profile {
    padding: 0 40px;
  }
}
.students-voice-area-layout {
  width: 560px;
  height: 172px;
}
.students-voice-area-layout .students-voice-area-link {
  width: 560px;
  height: 172px;
  border: 0.5px solid var(--text-color);
  padding: 24px 32px;
  position: absolute;
}
.students-voice-area-layout .students-voice-area-link h2 {
  font-size: var(--font-size-30);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--character-spacing-3);
  color: var(--main-color);
  text-align: left;
}
.students-voice-area-layout .students-voice-area-link h2::after {
  content: "";
  display: inline-block;
  background-image: url(../img/speech-bubble.png);
  background-size: cover;
  width: var(--font-size-30);
  height: var(--font-size-30);
  vertical-align: text-bottom;
}
.students-voice-area-layout .students-voice-area-link .students-voice-contents {
  display: flex;
}
.students-voice-area-layout .students-voice-area-link .students-voice-contents p {
  padding-top: 24px;
}
.students-voice-area-layout .students-voice-area-link .students-voice-contents .students-voice-img {
  position: absolute;
  top: 0px;
  right: 32px;
  width: 170px;
  height: 170px;
  overflow: hidden;
}
.students-voice-area-layout .students-voice-area-link .students-voice-contents .students-voice-img img {
  width: 280px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 120%;
     object-position: 120%;
  display: inline-block;
}

@media screen and (max-width: 1160px) {
  .students-voice-area-layout {
    margin: 0 auto;
  }
}
.information-contents-area {
  width: 960px;
  margin: 0 auto;
}
.information-contents-area .info-content {
  position: relative;
}
.information-contents-area .info-category-date-layout {
  display: flex;
  margin: 24px 32px;
}
.information-contents-area .info-category-date-layout .info-category {
  margin: 24px 32px 24px 0;
}
.information-contents-area .info-category-date-layout .info-category h3 {
  letter-spacing: var(--character-spacing-1-4);
  vertical-align: center;
  text-align: center;
  color: var(--white);
}
.information-contents-area .info-title {
  position: absolute;
  top: 36px;
  left: 220px;
  margin-right: 32px;
}

@media screen and (max-width: 1160px) {
  .information-contents-area {
    width: 95%;
  }
}
.banner-area {
  padding: 0 0 120px;
}
.banner-area .banner-area-layout {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}/*# sourceMappingURL=style.css.map */