@use './variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 
    --font-family-source-han-sans-jp
    , sans-serif;
}

section {
  padding: 120px 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

li {
  list-style: none;
}