// ホバー時にリンクに下線をつける場合の設定
.link-underline {
  border: none;

  &:hover {
    border-bottom: 1px solid var(--text-color);
  }
}

// セクションタグのcssの変更用（bottomの余白削除）
.section-reset {
  padding: 120px 0 0;
}

// セクションタイトルのレイアウト
.section-title-layout {
  margin: 0 auto 64px;
  text-align: center;
}

// 英字、数字の大文字化
.upper-text {
  text-transform: uppercase;
}

// ボタンの共通設定（ここからそれぞれのボタン用に変更する）
// ※ただしスクール検索用ボタンは除く
.btn-default {
  border: 1px solid var(--text-color);

  &::after {
    content: '';
    background-image: url(../img/arrow.png);
    display: inline-block;
    background-size: cover;
  }

  &:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--white);
  
    &::after {
      background-image: url(../img/arrow-white.png);
    }
  }
}

// インフォメーションのカテゴリ用タグの共通設定
.info-category-default-layout {
  width: 156px;
  padding: 4px 16px;
}

// インフォメーションの各タグの色を設定
.tag-campaign {
  background-color: var(--info-color-campaign);
}

.tag-notice {
  background-color: var(--info-color-notice);
}

.tag-event {
  background-color: var(--info-color-event);
}

.tag-prerelease {
  background-color: var(--info-color-prerelease);
}

// インフォメーション用のドットの下線
.dotted-bottom {
  background-image: linear-gradient(to right, var(--text-color) 3px, transparent 3px);
  background-size: 8px 1px;
  background-repeat: repeat-x;
  background-position: left bottom;
}
